footer {
    background-color: rgb(187, 185, 183);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
}
:disabled {
    opacity: 0.2;
}

#bpause {
    display: none;
}

#bstop {
    background-color: #f54d4d;
}